* {
  margin: 0;
  padding: 0;
  
}

.comp {
  background-color: #faf9f8;
}

.rbc {
  height: 85vh;
}

.wwb {
  height: 75vh;
  background-color: #321a2a;
}

header .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#rbcLogo {
  height: 50px;
}

.rbc .jumbotron {
  background: url('./resources/reformed.jpg') no-repeat center center fixed; 
  background-size: cover;
  display: flex;
  height: 100%;
  overflow: hidden;
}

.wwb .jumbotron {
  background: url('./resources/tulip2.jpg') no-repeat center center; 
  background-size: 95%;
  display: flex;
  height: 100%;
  overflow: hidden;
}

.leadership .jumbotron {
  margin-top: 80px;
  background: url('./resources/torch.jpg') no-repeat center center; 
  background-size: cover;
  display: flex;
  height: 400px;
  overflow: hidden;
}

.jumbotron .jumbotron-content {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  flex-direction: column;
  align-self: flex-end;
}

.jumbotron .jumbotron-content h1 {
  font-size: 100px;
  color: #f8f9fa;
}

.jumbotron .jumbotron-content p {
  padding-left: 5px;
  color: #f8f9fa;
}

.welcome .row,
.sunday-gatherings .row,
.what-to-expect .row,
.mission .row,
.who-we-are .row,
.our-beliefs .row,
.government .row,
.elders .row {
  padding-top: 50px;
  display: flex;
}

.login .row {
  margin-top: 80px;
}

.welcome .row:last-child,
.sunday-gatherings .row:last-child,
.what-to-expect .row:last-child {
  padding-bottom: 50px;
}

.reformed,
.confessional,
.covenantal,
.ordinary,
.family,
.elder,
.deacon {
  padding-bottom: 10px;
}

.solas {
  padding-top: 0!important;
}
.solas img,
.statements img {
  width: 100%;
}

.blockquote {
  margin-left: 50px;
}

.statements,
.leadership-spacer {
  margin-bottom: 50px;
}

.statements li {
  margin-left: 30px;
}

.statements li a {
  color: #333;
}

#mapid {
  min-height: 100%;
  width: 100%;
}

#mapid #serviceTimes {
  z-index: 801;
  background-color: #f8f9fa;
  opacity: 0.75;
}

#mapid h3 {
  padding-top: 20px;
  font-weight: bold;
}

#mapid hr {
  margin: 0 auto;
  width: 50%;
  padding-bottom: 20px;
}

#mapid .street {
  margin-bottom: 0;
  padding-bottom: 0;
}

#mapid #serviceTimes #bibleStudy {
  padding-bottom: 2px;
  margin-bottom: 0;
}

#mapid #serviceTimes div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#mapid #serviceTimes #getDirections {
  margin: 0 auto;
}

#mapid #serviceTimes a {
  text-decoration: none;
  min-width: 150px;
  padding: 0.5em 1em 0.5em;
  background-color: #555;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  outline: 0;
  border: none;
  cursor: pointer;
  font-style: normal;
  border-radius: 2em;
  letter-spacing: .02em;
}

footer {
  left: 0;
  bottom: 0;
  background-color: #333;
  min-height: 80px;
  color: #999;
  z-index: 802;
}

footer .col-md-2 {
  text-align: center;
  margin-top: 22.5px;
}

footer a {
  text-decoration: none;
  color: #999;
}

footer a:hover {
  color: #999;
}

@media screen and (min-width : 576px) and (max-width : 706px) {
}

@media screen and (min-width : 707px) and (max-width : 924px) {

  #mapid h3 {
      padding-top: 20px;
      font-weight: bold;
      font-size: 20px;
  }
}

@media screen and (max-width : 812px) {
  .jumbotron .jumbotron-content h1 {
      font-size: 50px;
  }
  
  .jumbotron .jumbotron-content p {
      font-size: 25px;
      color: #f8f9fa;
  }

  #map iframe {
      width: 95%;
      padding-bottom: 20px;
  }

  .what-to-expect .what-to-expect-list {
      padding-left: 3px;
  }
}

@media screen and (max-width: 568px) {
  .jumbotron .jumbotron-content h1 {
      font-size: 25px;
  }
  
  .jumbotron .jumbotron-content p {
      font-size: 12px;
      color: #f8f9fa;
  }

  #map iframe {
      height: 300px;
      width: 95%;
      padding-bottom: 20px;
  }

  .what-to-expect .what-to-expect-list {
      padding-left: 3px;
      font-size: 12px;
  }
}